.header_area {
  width: 100%;
  position: fixed;
  /* top: 10px; */
  z-index: 9;
  transition: all 0.3s ease-in-out;
}

header.header_area.stickyHeader {
  top: 0;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
  padding: 5px 0;
}

.main_header_area.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

header.header_area {
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.navigation-landscape .list-col-2 {
  width: 50%;
}

.navigation-landscape .list-col-3 {
  width: 33%;
}

.navigation-landscape .list-col-4 {
  width: 100%;
}

.navigation-landscape .list-col-5 {
  width: 20%;
}

.navigation-portrait .nav-menu>li>a {
  width: 100%;
  height: auto;
  padding: 10px 10px 10px 30px;
}

.navigation {
  width: 100%;
  height: 70px;
  display: table;
  position: relative;
  font-family: inherit;
  background-color: transparent;
  border-radius: 100px;
  padding: 0px 15px;
  /* box-shadow: 0px 0 7px 1px rgba(0, 0, 0, 0.10); */
  box-shadow: none;
}

header.header_area.stickyHeader .navigation {
  box-shadow: none;
}

.navigation * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.navigation-portrait {
  height: 48px;
}

.navigation-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19998;
}

.navigation-hidden {
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.navigation-hidden .nav-header {
  display: none;
}

.navigation-portrait .nav-logo>img {
  height: 36px;
  margin: 6px auto 6px 15px;
  padding: 0;
}

.navigation-portrait .nav-brand {
  font-size: 18px;
  line-height: 48px;
}

.navigation-portrait .nav-toggle {
  display: block;
}

.navigation-portrait .nav-menus-wrapper {
  width: 320px;
  height: 100%;
  top: 0;
  left: -400px;
  position: fixed;
  background-color: #fff;
  z-index: 20000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
  left: auto;
  right: -400px;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
  left: 0;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
  left: auto;
  right: 0;
}

.navigation-portrait .nav-menus-wrapper-close-button {
  display: block;
}

.navigation-portrait .nav-menu {
  width: 100%;
}

.navigation-landscape .nav-menu.nav-menu-centered {
  float: none;
  text-align: center;
}

.navigation-landscape .nav-menu.nav-menu-centered>li {
  float: none;
}

.navigation-portrait .nav-menu>li {
  width: 100%;
  position: relative;
  border-top: solid 1px #f0f0f0;
}

.navigation-portrait .nav-menu>li:last-child {
  border-bottom: solid 1px #f0f0f0;
}

.navigation-portrait .nav-menu>li>a {
  width: 100%;
  height: auto;
  padding: 12px 15px 12px 26px;
}

.navigation-portrait .nav-menu.nav-menu-social {
  width: 100%;
  text-align: center;
}

.navigation-portrait .nav-menu.nav-menu-social>li {
  width: auto;
}

.navigation-portrait .nav-menu.nav-menu-social>li>a {
  padding: 15px;
}

.navigation-portrait .submenu-indicator {
  width: 54px;
  height: 44px;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 20000;
}

.navigation-portrait .submenu-indicator-chevron {
  position: absolute;
  top: 18px;
  left: 24px;
}

.navigation-portrait .submenu-indicator.submenu-indicator-up {
  transform: rotate(-180deg);
}

.navigation-portrait .nav-search {
  height: 48px;
  padding: 0 10px;
  margin-right: 52px;
}

.navigation-hidden .nav-search {
  display: none;
}

.navigation-portrait .nav-search-button {
  width: 50px;
  height: 48px;
  line-height: 46px;
  font-size: 22px;
}

.navigation-portrait .nav-search-inner {
  height: 48px;
}

.navigation-portrait .nav-search-inner input[type="text"],
.navigation-portrait .nav-search-inner input[type="search"] {
  height: 48px;
  font-size: 18px;
  line-height: 48px;
}

.navigation-portrait .nav-search-close-button {
  top: 10px;
  right: 14px;
}

.navigation-portrait .nav-button {
  width: calc(100% - 52px);
  margin: 17px 26px;
}

.navigation-portrait .nav-text {
  width: calc(100% - 52px);
  margin: 12px 26px 0;
}

.navigation-portrait .nav-text+ul {
  margin-top: 15px;
}

.navigation-portrait .sub-menu {
  width: 100%;
  position: static;
  left: 0;
}

.navigation-landscape .sub-menu.sub-menu-left>li>a {
  text-align: right;
}

.navigation-portrait .sub-menu>li>a {
  padding: 12px 20px 12px 30px;
}

.navigation-portrait .sub-menu>li>ul>li>a {
  padding-left: 50px;
}

.navigation-portrait .sub-menu>li>ul>li>ul>li>a {
  padding-left: 70px;
}

.navigation-portrait .sub-menu>li>ul>li>ul>li>ul>li>a {
  padding-left: 90px;
}

.navigation-portrait .sub-menu>li>ul>li>ul>li>ul>li>ul>li>a {
  padding-left: 110px;
}

.navigation-portrait .sub-menu .submenu-indicator {
  right: 0;
  top: 0;
}

.navigation-portrait .sub-menu .submenu-indicator .submenu-indicator-chevron {
  transform: rotate(45deg);
}

.navigation-landscape .sub-menu.sub-menu-left .submenu-indicator {
  left: 10px;
}

.navigation-landscape .sub-menu.sub-menu-left .submenu-indicator .submenu-indicator-chevron {
  transform: rotate(135deg);
}

.navigation-portrait .sub-menu-horizontal .sub-menu-horizontal {
  border-top: none;
}

.navigation-portrait .sub-menu-horizontal>li {
  width: 100%;
}

.navigation-portrait .sub-menu-horizontal .submenu-indicator {
  height: 42px;
  top: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.navigation-portrait .sub-menu-horizontal .submenu-indicator.submenu-indicator-up {
  transform: rotate(-180deg);
}

.navigation-portrait .megamenu-panel {
  padding: 25px;
  position: static;
  display: block;
}

.navigation-portrait .megamenu-panel-half,
.navigation-portrait .megamenu-panel-quarter {
  width: 100%;
}

.navigation-portrait .megamenu-panel-row [class*="col-"] {
  float: none;
  display: block;
  width: 100% !important;
  margin-left: 0;
  margin-top: 15px;
}

.navigation-portrait .megamenu-panel-row:first-child [class*="col-"]:first-child {
  margin-top: 0;
}

.navigation-portrait .megamenu-tabs-nav {
  width: 100%;
}

.navigation-portrait .megamenu-tabs-pane {
  width: 100%;
}

.navigation-landscape .megamenu-list {
  border-right: solid 1px #f0f0f0;
}

.navigation-landscape .megamenu-list:last-child {
  border: none;
}

.nav-header {
  float: left;
  width: 85px;
}

.nav-brand {
  line-height: 70px;
  padding: 0;
  color: #343a40;
  font-size: 24px;
  text-decoration: none !important;
}

.nav-brand:hover,
.nav-brand:focus {
  color: #343a40;
}

.nav-brand svg {
  fill: #ff9f6a;
}

.nav-brand svg .s0 {
  fill: #007ff4;
}

.nav-logo>img {
  height: 48px;
  margin: 11px auto;
  padding: 0 15px;
  float: left;
}

.nav-logo:focus>img {
  outline: initial;
}



.nav-toggle {
  width: 30px;
  height: 30px;
  padding: 6px 2px 0;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 15px;
  display: none;
  cursor: pointer;
}


.nav-toggle:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #343a40;
  border-radius: 10px;
  box-shadow: 0 0.5em 0 0 #343a40, 0 1em 0 0 #343a40;
}

.nav-menus-wrapper-close-button {
  width: 30px;
  height: 40px;
  margin: 10px 7px;
  display: none;
  float: right;
  color: #343a40;
  font-size: 26px;
  cursor: pointer;
}


.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
  font-size: 0;
}


.nav-menu>li {
  display: inline-block;
  float: left;
  text-align: left;
}



.nav-menu+.nav-menu>li:first-child {
  border-top: none;
}

.nav-menu>li>a {
  width: 100%;
  line-height: 20px;
  padding: 26px 15px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--pera-font);
}

.nav-menu>li:hover>a,
.nav-menu>li.active>a,
.nav-menu>li.focus>a {
  color: #d83e28;
}

.nav-menu>li>a>i,
.nav-menu>li>a>[class*="ion-"] {
  width: 18px;
  height: 16px;
  line-height: 16px;
  transform: scale(1.4);
}

.nav-menu>li>a>[class*="ion-"] {
  width: 16px;
  display: inline-block;
  transform: scale(1.8);
}

.nav-menu.nav-menu-social>li {
  text-align: center;
  float: none;
  border: none !important;
}

li.downMain {
  position: relative;
  transition: all 2s linear;
}

span.down {
  color: black;
  position: absolute;
  top: 24px;
  left: 90px;
  font-size: 14px;
  z-index: 20;
  font-weight: 600;
}

li.downMain:hover .down {
  color: #d83e28;
}


.nav-menu.nav-menu-social>li>a>[class*="ion-"] {
  font-size: 12px;
}

.nav-menu.nav-menu-social>li>a>.fa {
  font-size: 14px;
}

.submenu-indicator {
  margin-left: 6px;
  margin-top: 6px;
  float: right;
  transition: all 0.2s;
  display: none;
}




.submenu-indicator-chevron {
  height: 6px;
  width: 6px;
  display: block;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: transparent #70798b #70798b transparent;
  transform: rotate(45deg);
  transition: border 0.2s;
  display: 'none';
}

.nav-menu>li:hover>a .submenu-indicator-chevron,
.nav-menu>.active>a .submenu-indicator-chevron,
.nav-menu>.focus>a .submenu-indicator-chevron {
  border-color: transparent #967adc #967adc transparent;
}

.nav-overlay-panel {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 19999;
}


.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nav-search {
  height: 70px;
  float: right;
  z-index: 19998;
}



.nav-search-button {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  background-color: #fbfcfd;
}

.nav-search-icon {
  width: 14px;
  height: 14px;
  margin: 2px 8px 8px 4px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #343a40;
  text-align: left;
  text-indent: -9999px;
  border: 2px solid;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.nav-search-icon:after,
.nav-search-icon:before {
  content: "";
  pointer-events: none;
}




.nav-search-icon:before {
  width: 2px;
  height: 11px;
  top: 11px;
  position: absolute;
  left: 50%;
  border-radius: 0 0 1px 1px;
  box-shadow: inset 0 0 0 32px;
  transform: translateX(-50%);
}

.nav-search-button:hover .nav-search-icon {
  color: var(--red);
}

.nav-search>form {
  width: 100%;
  height: 100%;
  padding: 0 auto;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 99;
}


.nav-search-inner {
  width: 70%;
  height: 70px;
  margin: auto;
  display: table;
}


.nav-search-inner input[type="text"],
.nav-search-inner input[type="search"] {
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0 12px;
  font-size: 26px;
  text-align: center;
  color: #343a40;
  outline: none;
  line-height: 70px;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
}

.nav-search-close-button {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  line-height: normal;
  color: #343a40;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}



.nav-button {
  margin: 18px 15px 0;
  padding: 8px 14px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.nav-button:hover,
.nav-button:focus {
  color: #fff;
  text-decoration: none;
}


.nav-text {
  margin: 25px 15px;
  display: inline-block;
  color: #343a40;
  font-size: 14px;
}

.sub-menu {
  min-width: 180px;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  list-style: none;
  z-index: 98;
  white-space: nowrap;
}


.sub-menu .sub-menu {
  left: 100%;
}

.nav-menu>li>.sub-menu {
  border-top: solid 1px #f0f0f0;
}


.sub-menu>li {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  text-align: left;
}

.sub-menu>li>a {
  width: 100%;
  padding: 16px 20px;
  display: inline-block;
  text-decoration: none;
  float: left;
  font-size: 13px;
  color: #343a40;
  background-color: #fdfdfd;
}

.sub-menu>li:hover>a,
.sub-menu>li.focus>a {
  color: var(--red);
}

.sub-menu.sub-menu-left {
  right: 0;
}

.sub-menu>li>.sub-menu-left {
  left: auto;
  right: 100%;
}

.sub-menu .submenu-indicator {
  right: 15px;
  top: 10px;
  position: absolute;
}



.sub-menu .submenu-indicator .submenu-indicator-chevron {
  transform: rotate(-45deg);
}



.sub-menu>li:hover>a .submenu-indicator-chevron,
.sub-menu>.focus>a .submenu-indicator-chevron {
  border-color: transparent var(--red) var(--red) transparent;
}

.sub-menu-horizontal {
  width: 100%;
  left: 0;
  background-color: #fdfdfd;
  border-top: solid 1px #f0f0f0;
}

.sub-menu-horizontal .sub-menu-horizontal {
  width: 100%;
  top: 100%;
  left: 0;
}

.sub-menu-horizontal>li {
  width: auto;
  clear: none;
  position: static;
}


.sub-menu-horizontal>li>a {
  position: relative;
}

.sub-menu-horizontal .submenu-indicator {
  height: 18px;
  top: 11px;
  transform: rotate(90deg);
}


.megamenu-panel {
  width: 250px;
  display: none;
  position: absolute;
  font-size: 14px;
  z-index: 98;
  text-align: left;
  margin-top: -3px;
  color: inherit;
  border-top: solid 1px #f0f0f0;
  background-color: #fdfdfd;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);

}



.megamenu-panel [class*="container"] {
  width: 100%;
}

.megamenu-panel [class*="container"] [class*="col-"] {
  padding: 0;
}

.megamenu-panel-half {
  width: 50%;
}

.megamenu-panel-quarter {
  width: 25%;
}


.megamenu-panel-row {
  width: 100%;
}

.megamenu-panel-row:before,
.megamenu-panel-row:after {
  content: "";
  display: table;
  line-height: 0;
}

.megamenu-panel-row:after {
  clear: both;
}

.megamenu-panel-row [class*="col-"] {
  display: block;
  min-height: 20px;
  float: left;
  margin-left: 3%;
}

.megamenu-panel-row [class*="col-"]:first-child {
  margin-left: 0;
}




.megamenu-panel-row .col-1 {
  width: 5.583333333333%;
}

.megamenu-panel-row .col-2 {
  width: 14.166666666666%;
}

.megamenu-panel-row .col-3 {
  width: 22.75%;
}

.megamenu-panel-row .col-4 {
  width: 31.333333333333%;
}

.megamenu-panel-row .col-5 {
  width: 39.916666666667%;
}

.megamenu-panel-row .col-6 {
  width: 48.5%;
}

.megamenu-panel-row .col-7 {
  width: 57.083333333333%;
}

.megamenu-panel-row .col-8 {
  width: 65.666666666667%;
}

.megamenu-panel-row .col-9 {
  width: 74.25%;
}

.megamenu-panel-row .col-10 {
  width: 82.833333333334%;
}

.megamenu-panel-row .col-11 {
  width: 91.416666666667%;
}

.megamenu-panel-row .col-12 {
  width: 100%;
}

.megamenu-tabs {
  width: 100%;
  float: left;
  display: block;
}

.megamenu-tabs-nav {
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}



.megamenu-tabs-nav>li>a {
  width: 100%;
  padding: 10px 16px;
  float: left;
  font-size: 13px;
  text-decoration: none;
  color: #343a40;
  border: solid 1px #eff0f2;
  outline: 0;
  background-color: #fff;
}

.megamenu-tabs-nav>li.active a,
.megamenu-tabs-nav>li:hover a {
  background-color: #f5f5f5;
}

.megamenu-tabs-pane {
  width: 80%;
  min-height: 30px;
  padding: 20px;
  float: right;
  display: none;
  font-size: 13px;
  color: #343a40;
  border: solid 1px #eff0f2;
  background-color: #fff;
}

.megamenu-tabs-pane.active {
  display: block;
}

.megamenu-lists {
  width: 100%;
  display: table;
}

.megamenu-list {
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
  display: inline-block;
  float: left;
  list-style: none;
}

.megamenu-list:last-child {
  margin: 0;
  border: none;
}

.megamenu-list li {
  border-bottom: 1px solid #eeeeee;
}

.megamenu-list>li>a {
  width: 100%;
  padding: 10px 15px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--pera-font);
  text-transform: uppercase;
}

.megamenu-list>li>a:hover {
  color: #fff;
  background: var(--light-blue);
}

.megamenu-list>li.megamenu-list-title>a {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #343a40;
}

.megamenu-list>li.megamenu-list-title>a:hover {
  background-color: transparent;
}

.sub-menu>li>a {
  color: #343a40;
  padding: 10px 20px;
  border-bottom: 1px solid #f6f6f6;
}

.sub-menu>li>a:hover,
.sub-menu>li>a:focus {
  color: var(--red);
}


.transparent-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.logoImg {
  width: 100%;
}

.header_area.stickyHeader {
  z-index: 999;
}

.align-to-right {
  float: right;
  margin-top: 8px;
}

nav.navbar {
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}

li.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-size: 20px !important;
  color: #007ff4 !important;
  padding: 7px 30px !important;
}

.hdrBtn {
  background: #007ef3 !important;
  color: #fff !important;
  border-radius: 50px !important;
  padding: 7px 60px !important;
}

div#navbarNav {
  flex-basis: unset;
  flex-grow: unset;
  margin: 0;
}

a.navbar-brand svg .s0 {
  fill: #007ff4;
}

a.navbar-brand svg {
  fill: #ff9f6a;
}

header.navbar.scrolled.header_area {
  background: #fff;
  border-bottom: 1px solid #ddd;
}